.over_text{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap
 }
 .container{
      img{
        cursor:pointer;
        float:left;
        display:block;
        height:160px;
      }
      .hint{
        text-align: center;
      }
      .panda-bg{
        background:url('../images/eater.jpg') center no-repeat;
        background-size: cover;
        width:240px;
        height:180px;
      }
      .coral{
        color: lightcoral;
      }
}
 .title{
    color:lightcoral;
    font-size:16px;
    line-height:22px;
    text-align:center;
    border-bottom:1px solid lightcoral;
    text-align:center;
}
.api-container{
  font-size:14px;
  width:100%;
  display: flex;
  .nav-area{
      margin:5px 0;
      text-align:center;
      color: #555;
      line-height:22px;
      .tab{
          li{
            display:flex;
            justify-content:flex-start;
            align-items:center;
            margin:3px 0;
            border-bottom:1px solid rgba(0,0,0,0.1);
            b{    cursor:pointer;
                  font-size:16px;
                  padding:0 10px;
                  max-width:130px;
                  @extend .over_text;
              }
            h1{
              font-size:18px;
              color:#E54A1B;
              width:120px;
            }
          }
      }
  }
}